/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */
*,
*::after,
*::before {
  // margin: 0;
  // padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  background-color: #87b5b5;
}
/* Your styles goes here. */
.toolbar {
  display: flex;
  align-items: center;
  background-color: #4aa3a3;
  padding: 0.3rem;
  border: 1px solid #1d2f2f;
  box-shadow: 1px 1px 10px 2px #3a5f5f;

  font-size: 2.4rem;
  justify-content: center;
  font-weight: 700;
  color: black;
  width: 100%;
  padding: 6px;
}
#preview_wrap {
  margin: 4rem auto 1.25rem;
  min-height: 200px;
  overflow-wrap: break-word;
  background-color: #c0d8d8;
  border: 1px solid #1d2f2f;
  box-shadow: 1px 1px 10px 2px #3a5f5f;
  border-top: none;
  #preview{
    padding: 1rem;
    overflow-y: auto;
  }
}
